<button class="btn btn-secondary" routerLink="/itemsgenerate">Admin</button>
<div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-3">
          <h1>Login Form</h1>
  
  <form [formGroup]="login" (ngSubmit)="onsubmit()">
    <div class="form-group">
      <label>Username</label>
  <input type="text" formControlName="uname" class="form-control" [ngClass]="{'is-invalid':submitted&&f.uname.errors}"/>
  <div class="invalid-feedback" *ngIf="submitted&&f.uname.errors">
    <div *ngIf="f.uname.errors.required">Enter Username</div>
  </div>
    </div>


    <div class="form-group">
        <label>Password</label>
    <input type="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid':submitted&&f.password.errors}"/>
    <div class="invalid-feedback" *ngIf="submitted&&f.password.errors">
      <div *ngIf="f.password.errors.required">Enter Password</div>
    </div>
      </div>


    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;&nbsp;
      <button type="reset" class="btn btn-primary">Cancel</button>&nbsp;&nbsp;&nbsp;

    </div>

  </form>     
   </div>
      </div>
    </div>
  </div>