<nav class="navbar navbar-expand-lg ">
    <div class=" navbar-collapse " >
    
    <a class="nav-item nav-link active" routerLink='/user/dashboard' >Home&#X2302;</a>
    <a class="nav-item nav-link"routerLink='/user/cart'>Cart&#x1F6D2;</a>
    <a class="nav-item nav-link" routerLink='/user/orders'>Orders&#9776;</a>
    </div>
    
    <button class="btn btn-primary" (click)="service1.logout()">Logout</button>
    </nav>
    

<br>
<br>
<div class="jumbotron">
    <div class="container">
    <button routerLink='/user/shirts' class="btn btn-primary btn-lg">Shirts</button>&nbsp;&nbsp;&nbsp;
    <button routerLink='/user/jeans' class="btn btn-success btn-lg">Jeans</button>&nbsp;&nbsp;&nbsp;
    <button routerLink='/user/shoes'  class="btn btn-danger btn-lg">Shoes</button>&nbsp;&nbsp;&nbsp;
</div>
</div>


